<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>gender</th>
      <th>age</th>
      <th>identificationCardNumber</th>
      <th>driverLicenseID</th>
      <th>phoneNumber</th>
      <th>company</th>
      <th>admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @users.id %></td>
        <td><%= @users.email %></td>
        <td><%= @users.firstName %></td>
        <td><%= @users.lastName %></td>
        <td><%= @users.gender %></td>
        <td><%= @users.age %></td>
        <td><%= @users.identificationCardNumber %></td>
        <td><%= @users.driverLicense %></td>
        <td><%= @users.phoneNumber %></td>
        <td><%= @users.company %></td>
        <td><%= @users.admin %></td>
        <td><%= link_to 'Show', @users %></td>
        <td><%= link_to 'Destroy', @users, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
